@if (menuItems$ | async; as menuItems) {
  <p-menubar [model]="menuItems">
    <ng-template pTemplate="end">
      @if (user$ | async; as user) {
        <p-menu #profileMenu [model]="profileItems" [popup]="true"></p-menu>

        <div class="profile-container" (click)="profileMenu.toggle($event)">
          <div class="avatar">
            {{ getDisplayName(user).charAt(0).toUpperCase() }}
          </div>

          <span class="username">
            {{ getDisplayName(user) }}
          </span>

          <i class="pi pi-chevron-down"></i>
        </div>
      }
    </ng-template>
  </p-menubar>
}
