.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fb;
}


.login-card {
  width: 360px;
  padding: 1.5rem;
}


.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}


label {
  font-weight: 500;
  color: #333;
}


input,
p-password {
  width: 100%;
}


button {
  width: 100%;
}
